button {
    display: flex;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

    span {
        margin-right: 5px;
    }

    span:hover {
        text-decoration: underline;
    }
}