button {
    display: flex;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: 100%;

    span {
        margin-right: 8px;
    }
}

button:hover {
    background-color: rgb(228, 227, 227);
}