div {
    display: flex;
    align-items: center;
  
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 145px;
      margin: 0 auto;
      margin-top: 20px;
      width: 884px;
      height: 60px;
      flex-shrink: 0;
      border-radius: 20px;
      background: #FFF;
      box-shadow: 0px 4px 23.2px 0px rgba(0, 0, 0, 0.25);
  
      a {
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
  
        
  
        
      }
  
      a.selected {
        text-decoration: underline;
      }
  
      a:hover {
        text-decoration: underline;
      }
    }
  }
    