div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;

    h2 {
        font-size: 32px;
        color: red;
    }

    mat-dialog-content {
        color: black;
    }

    mat-dialog-actions {
        display: flex;
        gap: 120px;
    }

    button {
        height: 40px;
        width: 120px;
        border: 0;
        border-radius: 8px;
        font-size: 16px;
    }

    .cancel {
        background-color: #0d6efd;
        color: white;
    }

    .delete {
        background-color: #d14545;
        color: white;
    }
}