<div class="box-login">
  <div class="box-login-form">
    <app-logo></app-logo>
    <form #login="ngForm" (ngSubmit)="submitLogin(login)" class="box-form">
      <div class="form-floating">
        <input
          name="email"
          type="email"
          id="inputEmail"
          placeholder="Informe o email"
          required
          [(ngModel)]="loginForm.email"
          class="form-control"
        />
        <label for="inputEmail">Email</label>
      </div>
      <div class="form-floating">
        <input
          name="password"
          type="password"
          id="inputPassword"
          placeholder="********"
          required
          minlength="8"
          maxlength="16"
          [(ngModel)]="loginForm.password"
          class="form-control"
        />
        <label for="inputPassword">Senha</label>
      </div>
      <button type="submit" class="w-100 btn btn-lg btn-primary button-color">
        Entrar
      </button>
    </form>
    <div class="register-link">
      <a>Cadastre-se</a>
    </div>
  </div>
</div>
