.box-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: full;
    flex-shrink: 0;
    border-radius: 4px;
    box-shadow: 1px 10px 16.5px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;

    .box-login-form {
        width: 500px;
        padding: 20px;

        .box-form {
            
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;

            app-form-validation{
                width: 360px;
            }
        
            mat-form-field{
                height: 92px;
                width: 360px;
            }

            div {
                display: flex;
                align-items: center;
                width: 90%;

                select{
                    width: 100%;
                    height: 64px;
                    border-radius: 4px;
                    border-color: #9e9e9e;
                    color: #676767;
                }

                .hourSelect:hover {
                    border-color: #000000;
                }
            }

            .submit-button{
                margin-left: 4px;
                margin-top: 24px;
                border: 0;
                background-color: transparent;
                font-size: 20px;
            }

            .appointment-select {
                display: flex;
                gap: 20px;
            }
        }

        .return-field {
            display: flex;
            margin-top: 24px;
            gap: 36px;

            .route-button{
                margin-left: 4px;
                border: 0;
                background-color: transparent;
            }
        }

        .dialog-actions{
            display: flex;
            justify-content: center;
            width: 100%;
            gap: 36px;
            margin-top: 24px;

            .action-buttons {
                font-size: 20px;
            }
        }
    }

    
}
  