button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

    span {
        margin-right: 5px;
    }
}

button:hover {
    background-color: #f55549;
    color: white;
}