.box-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: full;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: 1px 10px 16.5px 0px rgba(0, 0, 0, 0.15);
    margin-top: 40px;
    font-size: 16px;

    .box-login-form {
        width: full;
        padding: 20px;

        .box-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        
            mat-form-field{
                height: 92px;
                width: 380px;
            }

            app-form-validation {
                width: 380px;
            }

            div {
                display: flex;
                align-items: center;
                width: 380px;

                select{
                    width: 100%;
                    height: 70px;
                    border-radius: 4px;
                    border-color: #9e9e9e;
                    color: #676767;
                }

                .hourSelect:hover {
                    border-color: #000000;
                }
            }

            .submit-button{
                background-color: #0d6efd;
                color: white;
                width: 380px;
                height: 48px;
                border-radius: 4px;
                border: 0;
                margin-top: 24px;
            }
        }

        .return-field {
            display: flex;
            margin-top: 24px;
            gap: 36px;

            .route-button{
                margin-left: 4px;
                border: 0;
                background-color: transparent;
            }
        }
    }

    
}
  