<div class="box-login">
  <div class="box-login-form">
    <app-logo [text]="'Realize seu cadastro'"></app-logo>
    <form [formGroup]="patientForm" class="box-form" (ngSubmit)="handleFormSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="name" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" formControlName="email" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Data de nascimento</mat-label>
        <input matInput type="date" formControlName="birthDate" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field>

      <button type="submit" color="primary" class="w-100 route-button">
        Cadastrar
      </button>
    </form>

    <div>
      <button class="route-button" routerLink="/login">Voltar ao login</button>
    </div>
  </div>
</div>