.logo-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #000;
  font-style: normal;
  line-height: normal;

  p {
    font-size: 20px;
    font-weight: 500;
    color: #00000080;
  }

  h1 {
    font-size: 30px;
    font-weight: 700;
  }
}
